@model IEnumerable<ProductDetailViewModel>

<h1>Food here :)</h1>

@foreach (var productDetail in Model)
{
    <div style="width: 310px; display: flex; justify-content: space-between">
        <div style="width: 150px">@productDetail.Name</div>
        <div>@productDetail.Description</div>
        <div>
            <a asp-controller="Product" asp-action="Detail" asp-route-id="@productDetail.Id">
                Details
            </a>
        </div>
    </div>
}
