@model OrderViewModel

<form method="post" asp-controller="Order" asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" placeholder="Enter your name" type="text" />
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <label asp-for="Phone"></label>
        <input asp-for="Phone" placeholder="Enter phone" type="text" />
        <span asp-validation-for="Phone"></span>
    </div>

    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" placeholder="Enter address" type="text" />
        <span asp-validation-for="Address"></span>
    </div>

    <div>
        <label asp-for="InPlace"></label>
        <input asp-for="InPlace" />
    </div>

    <div>
        <select asp-for="Payment" asp-items="Html.GetEnumSelectList<PaymentType>()"></select>
        <span asp-validation-for="Payment" />
    </div>

    @*<div>
            <label asp-for="PromoCode"></label>
            <input asp-for="PromoCode" placeholder="Enter promo code" type="text" />
            <span asp-validation-for="PromoCode"></span>
        </div>*@

    <div>
        <label asp-for="Comment"></label>
        <input asp-for="Comment" placeholder="Comment" type="text" />
        <span asp-validation-for="Comment"></span>
    </div>

    <div>
        <button id="confirmOrder" type="submit">Confirm order</button>
    </div>
</form>
