@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Masny.Food.Data.Models.OrderProduct>

@foreach (var item in Model)
{


    <div>
        @item.Product.ProductDetail.Name <br />
        @item.Product.Diameter <br />
        @item.Product.Price <br />
        <br />
    </div>
}


