<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<header>
    <div class="wrapper">
        <div class="header header__indent-bottom">
            <a class="logo logo__link" asp-controller="Home" asp-action="Index">Pizza</a>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="auth">
                    <span class="auth__name">@User.Identity.Name</span>
                    <a class="button button__link" asp-controller="Account" asp-action="Profile">Profile</a>
                    <a class="button button__link" asp-controller="Cart" asp-action="Index">Cart</a>
                    <a class="button button__link" asp-controller="Account" asp-action="OrderHistory">Orders</a>
                    <a class="button button__link" asp-controller="Account" asp-action="Logout">Logout</a>
                    @*<form method="post" asp-controller="Account" asp-action="Logout">
                            <button class="button" type="submit">Logout</button>
                        </form>*@
                </div>
            }
            else
            {
                <div class="auth">
                    <a class="link" asp-controller="Account" asp-action="Login">Login</a>
                    <a class="button button__link" asp-controller="Account" asp-action="Register">Register</a>
                </div>
            }
        </div>
    </div>

    @*<button id="cartMainButton">Cart</button>*@

    @*<form method="post" asp-controller="Cart" asp-action="Index">
            <button class="button" type="submit">Cart</button>
        </form>*@
</header>
<body>
    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts", false)
    @*<script src="~/js/cart/post.js"></script>*@
</body>
</html>
