<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <a asp-controller="Home" asp-action="Index">Food Application</a>

        @if (User.Identity.IsAuthenticated)
        {
            <div>
                <span>@User.Identity.Name</span>
                <a asp-controller="Account" asp-action="Profile">Profile</a>
                <a asp-controller="Cart" asp-action="Index">Cart</a>
                <a asp-controller="Order" asp-action="History">Order history</a>
                <a asp-controller="Account" asp-action="Logout">Logout</a>
            </div>

            @if (User.IsInRole(AppRole.Admin))
            {
                <div>
                    <a asp-controller="Order" asp-action="List">Order list</a>
                </div>

            }
        }
        else
        {
            <div>
                <a asp-controller="Account" asp-action="Login">Login</a>
                <a asp-controller="Account" asp-action="Register">Register</a>
            </div>
        }
    </div>

    <div>
        @RenderBody()
    </div>

    @RenderSection("scripts", false)
</body>
</html>
