@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Masny.Pizza.Data.Models.Product>

@foreach (var item in Model)
{


<div>
    @item.ProductDetail.Name @item.Price

    @if (User.Identity.IsAuthenticated)
    {
        <button data-cart-id="@item.Id">to cart</button>
    }

</div>
}

@section scripts
{
    <script src="~/js/cart/post.js"></script>
}

