@model IEnumerable<ProductViewModel>

<h1>Cart</h1>

@{
    if (Model.Any())
    {
        foreach (var product in Model)
        {
            <p>@product.Id  @product.Price</p>
        }

        <a asp-controller="Order" asp-action="Index">Get order</a>

        // Order here
    }
    else
    {
        <p>Cart is empty</p>
    }
}


@*@if (Model is not null)
{
    @foreach (var item in Model.Products)
    {
        <p>@item.Id  @item.Price</p>
    }
}
else
{
    <p>Корзина пуста</p>
}*@

@*<a asp-controller="Order" asp-action="Index">Get order</a>*@

@*<form method="post" asp-controller="Order" asp-action="Index">
        <button class="button" type="submit">Get order</button>
    </form>*@

@section scripts
{
    @*<script src="~/js/cart/post.js"></script>*@
}
