@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Masny.Food.Data.Models.Product>

@foreach (var item in Model)
{
    <div>@item.Id @item.ProductDetail.Name</div>
}

