@model ProfileViewModel

@{
    ViewData["Title"] = "";
}

<h1>User profile</h1>

<form method="post" asp-controller="Account" asp-action="Profile" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <input asp-for="Name" placeholder="Enter your name" type="text" />
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <input asp-for="BirthDate" placeholder="Enter birthdate" type="date" />
        <span asp-validation-for="BirthDate"></span>
    </div>

    <div>
        <select asp-for="Gender" asp-items="Html.GetEnumSelectList<GenderType>()"></select>
        <span asp-validation-for="Gender" />
    </div>

    <div>
        <input asp-for="Address" placeholder="Enter address" type="text" />
        <span asp-validation-for="Address"></span>
    </div>

    <div>
        @{
            if (Model.Avatar is not null)
            {
                <img style="width:25%" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Avatar))" />
            }
        }
        <input asp-for="AvatarFile" type="file" />
    </div>

    <div>
        <button type="submit">Save</button>
    </div>
</form>
