@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form method="post" asp-controller="Account" asp-action="Register" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly"></div>
    
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" placeholder="Enter email" type="email" />
        <span asp-validation-for="Email"></span>
    </div>
    
    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" placeholder="Enter username" type="text" />
        <span asp-validation-for="Username"></span>
    </div>
    
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" placeholder="Enter name" type="text" />
        <span asp-validation-for="Name"></span>
    </div>
    
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" placeholder="********" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    
    <div>
        <label asp-for="PasswordConfirm"></label>
        <input asp-for="PasswordConfirm" placeholder="********" type="password" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    
    <div>
        <button type="submit">Register</button>
    </div>
</form>
